{% extends "default.html.twig" %}


{# 
<html>
    <head>
        <title> CONTACT page </title>
    </head>

    <body>
{% include 'includes/_header.html.twig' %}

{% block container %}
    <h1>Ceci est un TEMPLATE </h1>
{% endblock %}
    </body>

</html> #}
