{# templates/home.html.twig #}
<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <div {{ vue_component('MyComponent', { 'name': 'Zizoo' }) }}></div>
    </div>
</div>