<html>
    <head>
        <title>Page principale</title>
    </head>

    <body>
        <h1>Page principale</h1>
        <p>Cupidatat in et irure anim nisi. Et ex nisi aute proident. Laboris ea eiusmod aliquip est ea ullamco anim. Est nostrud sint anim qui proident sit.</p>
    </body>

</html>