<html>
    <head>
        <title> USER page </title>
    </head>

    <body>
        <h1> USER page </h1>

        <h2>Bienvenue {{ prenom }} {{ nom }} </h2>
        <h3><b>Vous avez {{ age }} </b></h3>
        <h4><strong> Votre userId est {{ userId }}</strong></h4>

    </body>

</html>